@import url("var-reset.css");

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  min-height: 5em;
  border: 1px solid var(--light-blue);
  margin-bottom: 30px;
  position: fixed;
}

ul {
  list-style: none;
  outline: none;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

a:hover {
  transition: 1s;
  color: rgb(0, 0, 0);
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

ul{
  width: 100vw;
  z-index: 2;
}

#button-clique{
  position: relative;
  z-index: 3;
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 22%;
  margin-top: 100px;
}
.content-1 {
  min-height: 250px;
  height: 500px;
  max-width: 0;
  transition: max-width 4s;
  background-color: var(--background);
  border: 1px solid var(--dark-blue);
  overflow: auto;

}
/* set an unique class to our side menu */
.content-icon-1 {
  width: 30px;
}
.content-2 {
  min-height: 500px;
  padding: 15px;
  height: auto;
  width: 100%;
  overflow: auto;
  background-color: var(--background);
  border: 1px solid var(--dark-blue);
}

.content-1-items {
  display: flex;
  /* justify-content: center; */
}

.content-2-items {
  display: flex;
  justify-content: center;
}
/* set width in relative unity */
.h2-cidade-rock {
  margin-top: 14px;
  color: var(--dark-blue);
  letter-spacing: 1px;
  width: 100%;
}

.h2-valores {
  margin-top: 14px;
  color: var(--dark-blue);
  letter-spacing: 1px;
}

img {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
}

/* set width in relative unity */
p {
  margin-top: 15px;
  letter-spacing: 1.5px;
  width: 100%;
}

.container-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

footer {
  box-sizing: border-box;
  left: 0;
  margin-top: 1px;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--grey);
  height: 7em;
  display: flex;
  align-items: center;
  font: 14px;
}



.content-icon-1 {
  width: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.content-footer{
  display: flex;
  flex-direction: column;
}
.content2-footer{
  width: 70em;
  display: flex;
  margin-bottom: 4em;
}

#p-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-open{
  position: absolute;
  z-index: 2;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .container-p {
    font-size: 10px;
  }

  img {
    height: 20px;
    margin: 0 auto;
  }
}
